<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
</head>
<body>
<button class="button"><a href="/shop/add_product">Ajouter un produit</a></button>
{% for product in products %}
    <div class="container"> 
        <div class="products">
            <div class="product">
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
                <div class="content">
                <h3><a href="#">{{ product.name }}</a></h3>
                <span><a href="#">{{ product.price }} euros</a></span>
                <span><a href="#">{{ product.stock }} stock</a></span>
                </div>
                <div class="link">
                    <a href="/shop/update_product/{{ product.id }}">Edit</a>
                    <a href="/shop/view_product/{{ product.id }}">Afficher</a>
                    <a href="/shop/delete_product/{{ product.id }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</body>
</html>